
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #6CA3F5;
}
.content {
  width: 300px;
  margin: 0 auto;
  margin-top: 20%;
}
#form {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000 ;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #fff;
}
.blue {
  background-color: #fff !important;
}
#input {
  width: 80%;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.dark {
  color: #000 !important;
}

#list {
  width: 100%;
  padding: 10px;
  list-style: none;
  background-color: #000;
  color: #7e7e7e;
}
.btnx {
  color: #7e7e7e;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
}


.ff {
  color: #fff;
}
.list {
  display: none;
}

.db {
  display: block;
}




























































































































































